  h1{
      text-align: center;
  }
  .jumbotron{
      background-color:yellowgreen}
  button{
     align-items: right;
  }
  /* .container-fluid{
      height:100%; */

  /* } */
  .img{
    width: 220px;
    padding:10px;    
    border: 5px solid blue;
  }
  .names{
      color:white;
  }